* {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.nav-bar {
display: flex;
flex-direction: row;
justify-content: space-between;
}

.header {
display: flex;
align-items: flex-start;
}
